/archive/
/results/
/plots/
/rtacfr_cache/
/tmp/
/paper/
/reviewer/

/build/
/dist/
/*.egg-info/
/.pytest_cache/
/.ipynb_checkpoints/
/**/__pycache__/
*.py[cod]
*.pyd
*.so
*.dll

/.venv/
/venv/
.coverage

*.pdf
*.PDF
*.ipynb
